@import "tailwindcss";

@theme {
  --font-sans: var(--font-raleway), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

/* Custom Base Styles */
@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}